@mixin sizes($width, $margin-left, $margin-top, $margin-bottom) {
    width: $width;
    margin-left: $margin-left;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
 }
 p{
    @include sizes(100%, 10px, 10px, 10px);
 }
 .acerca{
    @include sizes(90%, 5%, 2%, 2%);
 }